---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Navbar currentPath="/about" />
    <section class="text-center mt-20 p-8">
        <h1 class="text-4xl font-bold">Hey <span class="text-blue-500">Friend!</span> This is About us</h1>
        <p class="mt-4 max-w-4xl text-lg mx-auto text-gray-300">
            Welcome To TurpleCubes, where our dream and vision merge to become your partner in innovation.
            Our mission is to furnish a versatile workspace catering to every need imaginable.
            From coding to collaborate TurpleCubes is your conduit for unleashing creativity and streamlining productivity.
            Now, what's stopping you from making it?
        </p>
    </section>

    <section class="container mx-auto py-5">
        <div class="flex items-center min-h-[80px]">
            <div class="w-full bg-blue-600 py-15 flex flex-col md:flex-row items-center">
                <div class="w-full md:w-1/3 relative">
                    <h1 class="text-dark font-bold text-center text-6xl md:text-7xl pb-4">
                        Our Story
                    </h1>
                </div>
                <div class="border-l-2 border-white w-full md:w-2/3 px-4 md:px-6">
                    <p class="text-dark text-center md:text-left text-xl md:text-xl">
                        Welcome to TurpleCubes, where our dream and vision merge to become your partner in innovation. 
                        Our mission is to furnish a versatile workspace catering to every need imaginable. 
                        From coding to collaboration, TurpleCubes is your conduit for unleashing creativity and streamlining productivity.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class=" text-white py-16 text-center">
        <h2 class="text-4xl font-semibold">Meet our <span class="text-blue-500">Team</span></h2>
        <div class="grid md:grid-cols-3 gap-8 px-8 mt-8">
            <div class="text-center">
                <img src="/sagar.jpeg" alt="Sanjay Sagar" class="rounded-lg shadow-lg w-full h-100 object-cover">
                <p class="mt-4 font-semibold text-lg">Sanjay Sagar</p>
            </div>
            <div class="text-center">
                <img src="/dharshankumar.jpeg" alt="Dharshan Kumar" class="rounded-lg shadow-lg w-full h-100 object-cover">
                <p class="mt-4 font-semibold text-lg">Dharshan Kumar</p>
            </div>
            <div class="text-center">
                <img src="/rohith.jpeg" alt="Rohith" class="rounded-lg shadow-lg w-full h-100 object-cover">
                <p class="mt-4 font-semibold text-lg">Rohith</p>
            </div>
            <div class="text-center">
                <img src="/ealil.jpeg" alt="Ealil Adavan" class="rounded-lg shadow-lg w-full h-100 object-cover">
                <p class="mt-4 font-semibold text-lg">Ealil Adavan</p>
            </div>
        </div>
    </section>

</Layout>