---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import FAQ from "../components/FAQ.astro"
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Navbar currentPath="/" />
    <main>
        <!-- Hero Section -->
        <HeroSection/>
    
        <!-- Hero Section -->
        <section class="text-center py-16">
            <h1 class="text-4xl font-semibold">
                Your Innovation's <span class="text-blue-400"
                    >Cloud Companion</span
                >
            </h1>
            <p class="mt-4 text-gray-400">
                Discover a suite of innovative services tailored to simplify
                workflows, enhance security, and unleash your creativity.
            </p>
        </section>

        <!-- Feature Section -->
        <section id="services" class="flex items-center justify-center gap-12 px-12 py-16">
            <img
                src="image.jpeg"
                alt="Workspace Image"
                class="w-1/2 rounded-lg shadow-lg"
            />
            <div class="w-1/2">
                <h2 class="text-3xl text-center font-bold">
                    Effortless Workspace Creation and Deployment
                </h2>
                <p class="mt-4 text-xl text-center text-gray-400">
                    Start your projects effortlessly with PortOS' one-click
                    workspace creation and deployment feature. No more complex
                    installations or compatibility issues – just click a button
                    to begin.
                </p>
            </div>
        </section>
        <!-- Feature Section -->
        <section class="flex items-center justify-center gap-12 px-12 py-16">
            <div class="w-1/2">
                <h2 class="text-3xl text-center font-bold">
                    Access to Fully Functional Operating Systems
                </h2>
                <p class="mt-4 text-xl text-center text-gray-400">
                    Access multiple operating systems like Ubuntu, Kali Linux,
                    Fedora, Red Hat, Alpine, and Arch directly through your
                    browser. No installations or configurations needed.
                </p>
            </div>
            <img
                src="image.jpeg"
                alt="Workspace Image"
                class="w-1/2 rounded-lg shadow-lg"
            />
        </section>
        <!-- Feature Section -->
        <section class="flex items-center justify-center gap-12 px-12 py-16">
            <img
                src="image.jpeg"
                alt="Workspace Image"
                class="w-1/2 rounded-lg shadow-lg"
            />
            <div class="w-1/2">
                <h2 class="text-3xl text-center font-bold">
                    Secure Browsing with PortOS Browser
                </h2>
                <p class="mt-4 text-xl text-center text-gray-400">
                    Browse the web with confidence using the PortOS Browser. Our
                    isolated container environment ensures a secure browsing
                    experience, protecting your system from viruses and
                    safeguarding your privacy.
                </p>
            </div>
        </section>
        <!-- Feature Section -->
        <section class="flex items-center justify-center gap-12 px-12 py-16">
            <div class="w-1/2">
                <h2 class="text-3xl text-center font-bold">
                    Utilize DNS Services
                </h2>
                <p class="mt-4 text-xl text-center text-gray-400">
                    Connect your domain to isolated containers and take
                    advantage of our DNS services for improved performance and
                    management.
                </p>
            </div>
            <img
                src="image.jpeg"
                alt="Workspace Image"
                class="w-1/2 rounded-lg shadow-lg"
            />
        </section>
        <!-- Feature Section -->
        <section class="flex items-center justify-center gap-12 px-12 py-16">
            <img
                src="image.jpeg"
                alt="Workspace Image"
                class="w-1/2 rounded-lg shadow-lg"
            />
            <div class="w-1/2">
                <h2 class="text-3xl text-center font-bold">
                    Code Server Feature
                </h2>
                <p class="mt-4 text-xl text-center text-gray-400">
                    Develop your projects seamlessly with our Code Server
                    feature, running VS Code directly in your browser. Enjoy the
                    flexibility of programming from anywhere, without the need
                    for local installations or dependencies.
                </p>
            </div>
        </section>
        <!-- Feature Section -->
        <section class="flex items-center justify-center gap-12 px-12 py-16">
            <div class="w-1/2">
                <h2 class="text-3xl text-center font-bold">
                    Utilize DNS Services
                </h2>
                <p class="mt-4 text-xl text-center text-gray-400">
                    Connect your domain to isolated containers and take
                    advantage of our DNS services for improved performance and
                    management.
                </p>
            </div>
            <img
                src="image.jpeg"
                alt="Workspace Image"
                class="w-1/2 rounded-lg shadow-lg"
            />
        </section>
     

        <FAQ/>
    </main>
    <Footer />
</Layout>
