---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/HeroSection.astro";
import FAQ from "../components/FAQ.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";

---

<Layout>
    <Navbar currentPath="/" />
    <main>
        <!-- Hero Section -->
        <HeroSection />

        <!-- Hero Section -->
        <section class="text-center py-16">
            <h1 class="text-4xl font-semibold">
                Your Innovation's <span class="text-blue-400"
                    >Cloud Companion</span
                >
            </h1>
            <p class="mt-4 text-xl text-gray-400">
                Discover prebuilt development environments, streamline your workflow with reusable containers, <br/> and enhance coding with powerful integrations.            </p>
        </section>

        <Services/>
        <FAQ />
    </main>
</Layout>