---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortOS</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">

    
	<Navbar currentPath="/price" />
    <section class="text-center mt-20">
        <div class="flex justify-center">
            <img src="../images/price.png" alt="Announcement" class="w-60">
        
        <h2 class="text-3xl mt-5">The <span class="text-purple-500 font-semibold">Pricing</span> of PortOS is yet to be <span class="text-purple-500 font-semibold">announced</span>.</h2>
    </div>
    </section>

    <Footer/>
</body>
</html>