---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortOS</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">

    
	<Navbar currentPath="/price" />
    <section class="text-center mt-20">
        <div class="flex justify-center">
            <img src="../images/price.png" alt="Announcement" class="w-60">
        
        <h2 class="text-3xl mt-5">The <span class="text-purple-500 font-semibold">Pricing</span> of PortOS is yet to be <span class="text-purple-500 font-semibold">announced</span>.</h2>
    </div>
    </section>

    <footer class="mt-20 py-10 bg-black border-t border-gray-700 text-gray-400 text-center">
        <p class="text-purple-500 text-lg font-semibold">PortOS</p>
        <div class="grid grid-cols-3 gap-10 max-w-4xl mx-auto mt-5">
            <div>
                <h3 class="font-semibold text-white">Tools</h3>
                <p>Code Server</p>
            </div>
            <div>
                <h3 class="font-semibold text-white">OS</h3>
                <p>Ubuntu</p>
            </div>
            <div>
                <h3 class="font-semibold text-white">Browse</h3>
                <p>Chrome</p>
            </div>
            <div>
                <h3 class="font-semibold text-white">Company</h3>
                <p>Contact</p>
            </div>
            <div>
                <h3 class="font-semibold text-white">Socials</h3>
                <p>LinkedIn</p>
            </div>
        </div>
    </footer>
</body>
</html>